# BACKUP TESTOWY (odkomentuj jeśli potrzebujesz)
*/5 * * * * /usr/local/bin/backup.sh >> /logs/backup.log 2>&1

# BACKUP PRODUKCYJNY
0 6 * * 0 /usr/local/bin/backup.sh >> /logs/backup.log 2>&1

# ROTACJA LOGOW
55 6 * * * /usr/local/bin/rotate_logs.sh
